a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

button:hover {
  background-color: #ccc !important;
}

input {
  padding-left: 15px;
}

.nomadbeesheader {
  height: 40px;
  margin-top: -2px;
  width: auto;
}

.btnstop {
  position: relative;
  display: flex;
  margin-right: 40px;
  margin-top: -7px;
}

.btntop {
  border: 1px solid #ccc;
  border-radius: 0px;
  width: 70px;
  height: 50px;
}

#btnluoghi {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#btnprofilo {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#map {
  float: right;
  margin-right: 40px;
  height: 500px;
  width: 500px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.descrizioneviaggio {
  color: #121212;
  padding: 20px;
}

#tappelist {
  width: 55%;
  height: 750px;
  overflow: scroll;
}

.viaggio {
  height: 125px;
}

.inputdescrizione {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  margin: 5px;
  margin-left: 10px;
  resize: none;
  border: none;
  outline: none;
}

.tappasearchbar {
  display: flex;
  margin-left: 65%;
}

.tappasearchbox {
  border-top-right-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.btncercatappa {
  border-top-right-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 32px;
}

input[type='file'] {
  color: transparent;
}

.btnaggiungifoto {
  margin-right: -50px;
  margin-top: 60px;
  background-color: transparent;
  border: none;
  outline: none;
}

#btnpost {
  position: fixed;
  width: 64px;
  height: 46px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

main {
  background-color: #f5f5f5;
  padding: 20px;
}

section {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.clear {
  clear: both;
}

.roundedimg {
  border-radius: 10px;
}

#avatarsqr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 10px;
}

#profilesection {
  position: fixed;
  width: 25%;
}

#usernamefield {
  text-align: center;
}

#btnprofile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.flexbox {
  display: flex;
}

#viaggisearchbar {
  position: fixed;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  display: flex;
}

#viaggisearchbox {
  height: 32px;
  flex-grow: 50;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

#btncercaviaggio {
  width: 64px;
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

#btnfiltri {
  width: 64px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.viaggilist {
  margin-top: -50px;
  padding-top: 150px;
  height: 460px;
  overflow: scroll;
}

#viaggiprofilolist {
  width: 60%;
  margin-top: -100px;
  margin-left: 40%;
  margin-right: 30px;
}

body {
  overflow: hidden;
  background-color: #f5f5f5;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
}

header {
  background-color: #333;
  color: #fff;
  width: 100%;
  height: 5%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}

footer {
  background-color: #333;
  color: #fff;
  width: 100%;
  height: 5%;
  padding: 1%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

#pallini {
  position: fixed;
  right: 30px;
  top: 100px;
}

.avatar {
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 5px;
}

#btnaddfollow {
  width: min-content;
  height: min-content;
  margin-left: -3px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}

#btnaddfollow:hover {
  cursor: pointer;
  background-color: #fff !important;
}

.popup {
  display: none;
  position: fixed;
  top: 15%;
  bottom: 25%;
  left: 40%;
  right: 40%;
  text-align: center;
}

.btnclosepopup {
  float: right;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}

#followsearchbar {
  display: flex;
  position: relative;
  left: 10%;
}

#followsearchbox{
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border: 1px solid #ccc;
  outline: none;
}

#btncercafollow {
  width: 40px;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

#userlist {
  margin-top: 10%;
  height: 90%;
  overflow: scroll;
}

.userentry {
  display: flex;
  height: 10%;
}

.usernamesmall {
  color: #121212;
  padding-left: 10%;
}

#btnconfirmedit {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  height: 30px;
  width: 30px;
}

.editentry {
  padding: 10px;
}

.editfield {
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  height: 20px;
  width: 50%;
}

#homelist {
  overflow: scroll;
}