a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.nomadbeesheader {
  position: fixed;
  top: 0.8%;
  padding-left: 5px;
  color: #fff;
}

#map {
  float: right;
  padding: 2%;
  height:650px;
  width: 650px;
  border-radius: 10px;
}

.descrizioneviaggio {
  color: #121212;
  padding: 20px;
}

#tappelist {
  width: 55%;
  height: 750px;
  overflow: scroll;
}

.tappaselection {
  height: 60px;
}

main {
  background-color: #f5f5f5;
  padding: 20px;
}

section {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.clear {
  clear: both;
}

.roundedimg {
  border-radius: 10px;
}

.avatar {
  border-radius: 50%;
  padding: 10;
}

#avatarsqr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 10px;
}

#profilesection {
  position: fixed;
  width: 25%;
}

#usernamefield {
  text-align: center;
}

#btnprofile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.flexbox {
  display: flex;
}

.viaggisearchbar {
  position: fixed;
  width: 95%;
  display: flex;
  padding: 16px;
  padding-bottom: 32px;
}

.viaggisearchbox {
  height: 32px;
  flex-grow: 1000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#btncerca {
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.viaggilist {
  padding-top: 100px;
  height: 90%;
  overflow: scroll;
}

#viaggiprofilolist {
  width: 60%;
  margin-top: -100px;
  margin-left: 40%;
  margin-right: 30px;
}

body {
  background-color: #f5f5f5;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
}

header {
  background-color: #333;
  color: #fff;
  width: 100%;
  height: 5%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}

footer {
  background-color: #333;
  color: #fff;
  width: 100%;
  height: 5%;
  padding: 1%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

.btnstop {
  padding-right: 60px;
}

.btntop {
  width: 70px;
  height: 50px;
}

#pallini {
  position: fixed;
  right: 30px;
  top: 100px;
}

#popupprofile {
  display: none;
  position: fixed;
  top: 15%;
  bottom: 25%;
  left: 40%;
  right: 40%;
}