a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

button:hover {
    background-color: #ccc !important;
}

input {
    padding-left: 15px;
}

main {
    background-color: #f5f5f5;
    padding: 20px;
}

body {
    overflow: hidden;
    background-color: #f5f5f5;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
  }
  
  header {
    background-color: #333;
    color: #fff;
    width: 100%;
    height: 5%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    height: 5%;
    padding: 1%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
  }

.nomadbeesheader {
    height: 40px;
    margin-top: -2px;
    width: auto;
}

.btnstop {
    position: relative;
    display: flex;
    margin-right: 40px;
    margin-top: -7px;
}

.btntop {
    border: 1px solid #ccc;
    border-radius: 0px;
    width: 70px;
    height: 50px;
}

#btnluoghi {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#btnprofilo {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.descrizioneviaggio {
    color: #121212;
    padding: 20px;
}

.viaggio {
    height: 125px;
  }
  
  section {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .clear {
    clear: both;
  }
  
  .roundedimg {
    border-radius: 10px;
  }
  
.flexbox {
    display: flex;
  }
  

  #viaggisearchbar {
    position: fixed;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    display: flex;
  }
  
  #viaggisearchbox {
    height: 32px;
    flex-grow: 50;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  #btncercaviaggio {
    width: 64px;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  #btnfiltri {
    width: 64px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid #ccc;
    background-color: #fff;
  }

  .viaggilist {
    margin-top: -50px;
    padding-top: 150px;
    height: 460px;
    overflow: scroll;
  }